.container_green {
  /* height: 58px; */
  padding: 9px 0px 3px 0px;
  gap: 324px;
  /* border-radius: 34px 0px 0px 0px; */
  opacity: 0px;
  background: #23856d;
  cursor: pointer;
}

.numbers > a {
  color: white;
  cursor: pointer;
}

.numbers {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.numbers > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social_media > a {
  color: white;
}
.container.white{
  background-color: white;
  color: white;

}
.container.white> span {
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
